* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
body {
  min-height: 300vh;
} */

article {
  min-height: 250px;
  text-align: center;
  /* line-height: 300px; */
  font-size: 50px;
  font-weight: 700;
  font-family: 'Questrial', sans-serif;
  position: relative;
}

article div {
  position: absolute;
}

article.first {
  padding-top: 130px;
}