:root {
  --mainColor: #2C3228;
  --secondColor: #DEB887;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Montserrat', sans-serif;
  ;
}


article {
  min-height: 100px;
  text-align: center;
  font-size: 50px;

  position: relative;
}

article.first {
  padding-top: 130px;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 8px;
}
@media (max-width: 850px){
  article.first {
    padding-top: 170px;
  }
}

@media (max-width: 600px){
  article.first {
    padding-top: 160px;
  }
  .first div{
    display: none;
  }
  }
  
  @media (max-width: 450px){
    article.first {
      padding-top: 230px;
    }
  }

  h5 {
    font-size: 0.4em;
  }