:root {
  --mainColor: rgb(50, 50, 40);
  --secondColor: burlywood;
  /* var(--mainColor) */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  ;
}

article {
  min-height: 220px;
  text-align: center;
  font-size: 50px;

  position: relative;
}

article.first {
  padding-top: 130px;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 8px;
}