.newsletter{
height: 200px;
width: 100%;
text-align: center;
line-height: 200px;
color: lightgrey;
background-color: rgb(40, 40, 40);
display: flex;
justify-content: center;
flex-grow: 1;
}

.newsletter .newsLeft {
  flex-basis: 50%;
  font-size: 25px;
 padding-right: 40px;
 text-align: right;

}

.newsletter .newsRight{
  flex-basis: 50%;
  text-align: left;
  position: relative;
}

.newsletter .newsRight .sendingMessage {
  position: absolute;
  line-height: 20px;
  top: 55px;
  font-size: 18px;
  font-weight: 700;
}

.sendingMessage.error {
  color: red;
}

.sendingMessage.sent {
  color: green;
}

.newsletter input{
  background-color: rgb(40, 40, 40);
  border: 1.5px solid burlywood;
  width: 250px;
  height: 35px;
  color: lightgrey;
  padding-left: 10px;
}

.newsletter input.entered{
  border: 4px solid red;
  outline: none;
}

.newsletter input:hover{
  border: 4px solid burlywood;
}
.newsletter input:focus {
  border: 3px solid burlywood;
  outline: none;
}

.newsletter button{
margin-left: 10px;
width: 100px;
height: 35px;
border: none;
background-color: burlywood;
outline: none;
text-transform: uppercase;
}

.newsletter button:hover{
  font-weight: 700;
  box-shadow: 0 0 3px burlywood;
}


.copywright{
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: grey;
  background-color: #eee;
}

