.title .react-parallax img{
  /* content: url(../img/fourMain.jpg); */
}



/* MOTTO CONTAINTER */

.homeArticles .title div.motto {
  width: 550px;
  position: absolute;
  top: 300px;
  left: 190px;
  font-size: 23px;
  text-align: left;
}
.homeArticles .title div p {
  display: inline;
  color: var(--mainColor);
}

.homeArticles .title div p.mottoFirst {
  position: absolute;
}
.homeArticles .title div i.mottoFirstPartOne {
  border-bottom: 1px solid var(--mainColor);
  padding-bottom: 6px;
  font-style: normal;
}

.homeArticles .title div p.mottoSecond {
  position: absolute;
  top: 21px;
  left: 55px;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
}
.homeArticles .title div i.mottoSecondPartOne {
  border-bottom: 1px solid var(--mainColor);
  padding-bottom: 12px;
  font-weight: 700;
  padding-right: 6px;
  margin-right: 6px;
  font-style: normal;
}
.homeArticles .title div p.mottoThird {
  position: absolute;
  top: 72px;
  left: 305px;
}

/* ARROW STYLING */

@keyframes pulse {
  100%{opacity: 1}
  50%{opacity: 0.5}
  0%{opacity: 1}
}

.arrowDown {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  color: #D9CDE3;
  font-size: 40px;
  animation: pulse 2s infinite;
  cursor: pointer;
}

/* MOTTO ARTICLE */

.homeArticles article.mainMottoAricle{
  background-color: #ECECEC;
}

.homeArticles .mainMottoAricle div .firstMotto {
height: 450px;
}

/* CHARACTERISTICS ARTICLE */

.space {
  height: 120px;
  width: 100%;
}

.homeArticles article.third{
  background-image: url(../img/secondMain.png);
  /* height: 700px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.homeArticles .third .characteristics {
height: 100%;
display: flex;

}
.characteristics .trait{
  flex-grow: 1;
  flex-basis: 30%;
  color: white;
  font-size: 15px;
  line-height: 21px;
  text-align: left;
  height: 350px;
}

.firstCharacteristics, .secondCharacteristics, .thirdCharacteristics{
  position: relative;
}

.firstCharacteristics, .secondCharacteristics{
  border-right: 1px solid rgba(0,0,0,0.25) ;
}

.characteristics div p{
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
}

.characteristics div .characteristicsIcons{
  height: 40px;
}

 .characteristicsBg{
  background-color: black;
  opacity: 0.5;
  height: 100%;
z-index: 0;
}

.characteristicsText{
  opacity: 1;
  position: absolute;
  top: 0;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  /* bottom: 160px; */
  font-weight: 300;
  padding: 0;
}

.firstCharacteristics .characteristicsText, .thirdCharacteristics .characteristicsText{
  top: unset;
  bottom: 0;
}

/* ABOUT US ARTICLE */

.homeArticles article.mainAboutUsArticle{
  background-color: var(--secondColor);
  overflow: hidden;
}

.homeArticles .mainAboutUsArticle div {
  color: lightgrey;
  background-color: var(--mainColor);
}

.aboutUsBox{
  padding: 60px 0;
  display: flex;
  flex-direction: column;
}

.homeArticles div.aboutUsLabel {
  width: 350px;
  padding: 20px;
  margin: 0 auto;
  font-size: 28px;
}

.aboutUsTextBox {
  height: 250px;
  position: relative;
}

.aboutUsFirstText, .aboutUsSecondText, .aboutUsThirdText {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  animation: 24s ease-in-out slider infinite;
}
.aboutUsSecondText, .aboutUsThirdText {
  left: 100%;
}

.aboutUsFirstText{
  animation-delay: -2s;
}

.aboutUsSecondText{
  animation-delay: 6s;
}

.aboutUsThirdText{
  animation-delay: 14s;
}

.aboutUsText {
  width: 580px;
 margin: 0 auto;
 font-size: 25px;
 font-weight: 200;
}

@keyframes slider{
  0%{
    left: 100%;
  }
  6.666% {
    left: 0;
  }
  16.666%{
    left: 0;
  }
  33.333%{
    left: 0;
  }
  40%{
  left: -100%;
}
  50%{
    left: -100%;
  }
  100%{
    left: -100%;
  }
}

.dots{
  margin: 20px auto;
  height: 8px;
  font-size: 8px;
  letter-spacing: 10px;
}

.dotsFirst, .dotsSecond, .dotsThird{
  position: absolute;
  animation: 24s ease-in-out sliderDots infinite;
}

.dotsSecond, .dotsThird{
  opacity: 0;
}

.dotsFirst{
  animation-delay: -2s;
}

.dotsSecond{
  animation-delay: 6s;
}

.dotsThird{
  animation-delay: 14s;
}

@keyframes sliderDots{
  0%{
    opacity: 0;
  }
  10.666%{
    opacity: 1;
  }
  33.333%{
    opacity: 1;
  }
  41%{
    opacity: 0;
}
  50%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

/* PRODUCTS REDIRECTION ARTICLE */
.homeArticles article.mainProduckRedirectionArticle{
  background-color: #ECECEC;
  color: black;
}

.homeArticles .productRedirection {
/* padding: 0 100px; */
display: flex;
justify-content: space-evenly;
}

.homeArticles .redirectionProductPhoto{
  flex-basis: 15%;
  height: 500px;
}

.homeArticles .redirectionProductPhoto img{
  height: 300px;
  margin: 100px 0;
  /* transform: rotate(-11deg); */
  /* -webkit-filter: drop-shadow(-10px -10px 10px #222);
  filter:         drop-shadow(-10px -10px 10px #222);  */
}

.homeArticles .redirectioArticleText{
  font-size: 30px;
  /* flex-basis: 40%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeArticles .redirectioArticleText .refToProductsButton{
width: 200px;
height: 40px;
line-height: 40px;
margin: 50px auto 0;
display: block;

border: 1px solid black;
font-size: 22px;
background-color: var(--mainColor);
color:  #ECECEC;

outline: none;
text-decoration: none;
}

.homeArticles .redirectioArticleText .refToProductsButton:hover{
  font-weight: 500;
  box-shadow: 0 0 3px  black;
  background-color: #262b22;
}

/* LAST PHOTO ARTICLE */
.homeArticles .mainLastPhotoArticle div {
  position: relative;
}

.lastPhotoBg{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}

@media (max-width: 850px){
/* .title .react-parallax img{
    content: url(../img/minfirstMain.png);
  } */

.homeArticles article.third{
  background-image: url(../img/minsecondMain.png);
}

.mainLastPhotoArticle .react-parallax img {
  content: url(../img/minthirdMain.png);
  /* width: 100vw !important; */
  height: 100% !important;
  transform: none !important;
left: -150px !important;
}

.homeArticles .productRedirection {
  flex-direction: column;
}
.homeArticles .redirectioArticleText {
padding-bottom: 40px;
}

.homeArticles .title div.motto {
  left: 40px;
}
}

@media (max-width: 900px) and (max-height: 600px){
  .homeArticles .title div.motto {
    top: 170px;
    left: 120px;
    font-size: 19px;
  }
  .homeArticles .title div p.mottoSecond {
    top: 21px;
    left: 48px;
    font-size: 28px;
  }
  .homeArticles .title div p.mottoThird {
    top: 50px;
    left: 200px;
  }
.copywright{
  display: none;
}
}

@media (max-width: 600px){
  .react-parallax-bgimage{
    left: -100px !important;
  }

  .homeArticles .title div.motto {
    width: 90%;
    margin: 5%;
    top: 440px;
    left: 0;
    font-size: 15px;
    text-align: left;
  }

  .homeArticles .title div p.mottoSecond {
    top: 21px;
    left: 43px;
    font-size: 23px;
  }
  .homeArticles .title div p.mottoThird {
    top: 50px;
    left: 175px;
  }

  .aboutUsText{
    font-size: 17px;
    width: 88%;
  }
  .characteristics{
    flex-direction: column;
  }
  .characteristics .trait{
    height: 100%;
  }
  .space{
height: 30px;
  }

  .characteristics .characteristicsBg{
  position: absolute;
  width: 100%;
  }

  div.characteristicsText{
    position: static;
    left: 0;
    transform: translateX(0);
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
  }

  .firstCharacteristics .characteristicsText, .thirdCharacteristics .characteristicsText, .secondCharacteristics .characteristicsText{
    top: 0;
    height: 100%;
  }


  

  .homeArticles .mainMottoAricle div .firstMotto {
    height: unset;
    width: 100vw;
    }

  .homeArticles .productRedirection{
    flex-direction: column;
    width: 100%;
    padding: 0 0 30px 0;
  }

  .homeArticles .redirectionProductPhoto{
    height: 100%;
  }

  .homeArticles .redirectionProductPhoto img{
    width: 80vw;
    height: unset;
  }

  .homeArticles .redirectioArticleText p{
padding: 0 0 30px 0;
font-size: 24px;
  }

  .homeArticles .redirectioArticleText .refToProductsButton{
    width: 150px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    margin: 0 auto 0;
  }
}
  
@media (max-width: 360px){
  .react-parallax-bgimage{
    left: -100px !important;
  }
  .homeArticles .title div.motto {
    top: 330px;

  }
}