.ProductsPage{
  min-height: calc(100vh - 70px);
  position: relative;
  overflow: hidden;
}

.ProductsPage .bgImage{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  opacity: 0.15;

 background-image: url(../img/productsPageBackground.jpg);
 background-repeat: no-repeat;
 background-position: bottom;
 background-size: cover;
 background-attachment: fixed;
}

.ProductsPage .productsGraphics ul{
display: flex;
flex-direction: row;
justify-content: space-around;
padding-bottom: 50px;
list-style: none;
font-size: 16px;
flex-wrap: wrap;
}

.ProductsPage .productsGraphics ul li{
  flex-basis: 25%;
  text-align: left;
  margin: 30px 0;
  padding: 0 30px;
}

.ProductsPage .productsGraphics ul li a{
  display: block;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin: 10px auto;
  text-decoration: none;
  position: relative;
  transition: 1s ease-in-out;
  }

  .ProductsPage .productsGraphics ul li a:hover{
    /* background-position: right; */
  }

.ProductsPage .productsGraphics ul li a::after{
    content: "\2192";
    font-size: 80px;
    text-align: center;
    line-height: 300px;
    color: white;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color:black;
    transition: 0.4s ease-in-out;
}

.ProductsPage .productsGraphics ul li a:hover::after{
  opacity: 0.3;
}

.ProductsPage .productsGraphics ul li a[unavailable='true']::after{
  content: "coming soon";
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
  padding: 100px 0;
  pointer-events: none;
}



.productDescription{
    width: 300px;
    margin: 0 auto;
}

.productName {
margin: 15px 0;
font-weight: 700;
font-size: 25px;
text-align: center;
letter-spacing: 1px;
}

.productText {
text-align: justify;
}


.productPhoto {
  background-image: url(../img/products/templatePhoto.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.productGreenCoffee{
  background-image: url(../img/products/productGreenCoffee.jpg);
}

.productDeoxycholic10{
  background-image: url(../img/products/productDeoxycholic10.jpg);
}

.productTripleBoost{
  background-image: url(../img/products/productTripleBoost.jpg);
}

.productWhiteningPeel{
  background-image: url(../img/products/productWhiteningPeel.jpg);
}

@media (max-width: 600px){
  .ProductsPage .productsGraphics ul{
    flex-direction: column;
  }
  .ProductsPage .productsGraphics ul li{
   padding: 0;
   margin: 0 auto;
   width: 100%;
  }
  }
  
  @media (max-width: 450px){

  }