/* POPUP PHOTO STYLE */

.bigPhotoPopContainer{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  color: black;
}
.bigPhotoBgc{
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.4;
}

.popPhoto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 70%;
  background-color: white;
  border: 20px solid white;
}

.changePhotoBack, .changePhotoNext{
  position: absolute;
  width: 100px;
  height: 100%;
}

.changePhotoBgc{
  position: absolute;
  background-color: black;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.changePhotoBack:hover .changePhotoBgc, .changePhotoNext:hover .changePhotoBgc{
  opacity: 0.2;
}

.changePhotoBack i, .changePhotoNext i{
font-size: 40px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.changePhotoBack{
  left: 0;
}
.changePhotoNext{
  right: 0;
}

.popPhoto img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.hideBigPhoto{
  font-size: 40px;
  position: absolute;
  top: -45px;
  right: -35px;
}

/* SITE STYLING */

.productSinglePageDescription {
  /* flex-grow: 1; */
  padding: 50px;
  text-align: left;
  color: var(--mainColor);
}

.productTop, .productBottom{
  display: flex;
  justify-content: center;
}

/* PRODUCT TOP */

.productTop{
  justify-content: center;
}

.productTopLeft, .productTopRight{
  width: 500px;
}

/* first photo style */
.productMainPhoto{
  width: 445px;
  min-height: 350px;
  margin-right: 50px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
}

.productMainPhoto:hover{
filter: brightness(90%);
}

/* another photos style */
.anotherPhotos{
  width: 445px;
  display: flex;
  margin: 15px 0;
  background-position: center;
  background-size: cover;

}

.productAnotherPhotos{
  width: 100px;
  height: 100px;
  margin-right: 15px;
  object-fit: cover;
  cursor: pointer; 
   transition: 0.2s;
}

.productAnotherPhotos:hover{
  filter: brightness(90%);
}


.productTopRight{
  padding-left: 50px;
  border-left: 1px solid var(--mainColor);
}

.productTitle{
  font-weight: 600;
  padding-bottom: 30px;
}

.productText{
  font-size: 18px;
  padding-bottom: 30px;
}

.productSize{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 30px;
}

.healthlyIcons{
  width: 200px;
}
/* PRODUCT BOTTOM */

.productBottom{
  padding-top: 50px;
  font-size: 18px;
}

.productBottom div .title{
  font-size: 25px;
  padding-bottom: 15px;
}

.productBottomUse{
  padding-right: 45px;
  width: 400px;
  text-align: justify;
}

.productBottomIngredients{
  padding-right: 25px;
  width: 350px;
}

.productBottomContact a{

  display: block;
  width: 250px;
  background-color: rgba(211, 211, 211, 0.5);
  padding: 15px 30px;

  font-size: 14px;
  text-decoration: none;
  color: var(--mainColor);
}

.productBottomContact a:hover{
  background-color: rgba(211, 211, 211, 0.7);
}


@media (max-width: 850px){
  .changePhotoBack, .changePhotoNext{
    width: 40px;
  }
  .changePhotoBack:hover .changePhotoBgc, .changePhotoNext:hover .changePhotoBgc{
    opacity: 0.05;
  }
  
  .productTop, .productBottom{
    flex-direction: column;
  }

  .productPageDescription{
    margin: 50px 0;
  }

  .productSinglePageDescription{
    padding: 20px;
  }

  .productTopLeft{
    width: 100%;
    margin: 0 auto;
  }
  .productMainPhoto{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .productTopRight{
    width: 100%;
    padding: 0;
    border: none;
  }

  .productTitle{
    font-size: 40px;
    text-align: center;
    padding: 15px 0;
  }

  .productBottomUse, .productBottomIngredients, .productBottomContact{
    margin: 30px 0 ;
    padding: 0;
    width: 100%;
  }

  .productBottomContact a{
    margin: 0 auto;
  }

  .anotherPhotos{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .productAnotherPhotos{
    width: 70px;
    height: 70px;
    margin: 0;
  }

  .popPhoto{
    width: 100%;
    height: 100%;
    border: none;
  }

  .hideBigPhoto{
    right: 50%;
    top: 0;
    transform: translateX(50%);
  }
}